@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-LightItalic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold-webfont.woff") format("woff");
  font-style: bold;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px convert default 16px to 10px to work easier with rems */
}

body {
  font-family: "Roboto", sans-serif;
  /* font-weight: 300; */
  font-size: 1.8rem;
  line-height: 4rem;
  color: white;
  background-image: linear-gradient(rgb(34, 34, 34), khaki);
  background-size: 50rem;
}

h1,
h2,
h3 {
  line-height: 1.3em;
  font-weight: 700;
}

header {
  text-align: center;
}

.hero {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0) 40%,
    rgba(240, 230, 140, 0.7) 100%
  );
  padding: 6rem;
  color: white;
}

.hero h1 {
  font-size: 4rem;
}

nav li {
  display: inline-block;
  padding: 1em 1rem;
}

nav {
  background: linear-gradient(
    0deg,
    rgba(240, 230, 140, 0.7) 1%,
    rgba(2, 0, 36, 0) 80%
  );
}

.selected {
  color: rgb(93, 255, 166);
}

a:link,
a:visited {
  color: rgb(199, 199, 199);
  text-decoration: none;
}

a:hover {
  color: rgb(93, 255, 166);
  text-decoration: underline;
}

a:active {
  text-decoration: overline;
}

.section {
  max-width: 60rem;
  margin: 4rem auto;
  padding: 2rem;
}

.section--gray {
  border: 1px solid rgb(93, 255, 166);
  background-color: rgba(93, 255, 166, 0.068);
}

.section h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.section p {
  margin-bottom: 1.5rem;
}

.section p:last-child {
  margin-bottom: 0;
}
